.animation3 {
    overflow: hidden;
    position: relative;
    z-index: 9;
    border-radius: 15px;
}

.animation3::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 190%;
    top: -100px;
    background: linear-gradient(#00ccff, #d500f9);
    animation: rotate 3s linear infinite;
    z-index: -1;

}

.animation3::after {
    content: '';
    position: absolute;
    background: white;
    inset: 5px;
    border-radius: 10px;
    z-index: -1;
}

@keyframes rotate {
    form {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}